# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# To prevent extra Mac files from annoying people like rderekp
**.DS_Store
**._**

# Ignore all files except for DoDFF files.
/*
!/Divergences of Darkness Fan Fork/
!.gitattributes
!.gitignore
!README.md
!Divergences of Darkness Fan Fork.mod

# Submods
